* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 15px;
}

.container {
  /* width: 90%; */
  max-width: 760px;
  margin: 0 auto;
}

sup {
  font-variant: small-caps;
  font-size: 14px;
}

table {
  width: 100%;
  table-layout: fixed;
}

.update-notice {
  margin: 20px;
  font-size: 0.8em;
  font-variant: small-caps;
}

thead th {
  position: sticky;
  top: 0;
  background: white;
  padding: 5px;
  border-bottom: 1px solid black;
}

th.column-name {
  z-index: 3;
  left: 0;
}

tr:nth-child(2n) td {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: rgb(238, 237, 237);
}

.column-name {
  text-align: left;
  padding-left: 10px;
}

table,
tr {
  border-bottom: 1px solid black;
  text-align: right;
}

th {
  padding: 0 5px;
}

td,
th {
  white-space: nowrap;
}

.product-image img {
  max-width: 30%;
  min-width: 200px;
}

.column-image {
  text-align: center;
  width: 50px;
}

a,
a:visited {
  text-decoration: none;
}

td,
th {
  padding: 0 10px;
}

.column-stock {
  width: 125px;
}

td.column-stock:after {
  margin-left: 4px;
  width: 8px;
  height: 8px;
  content: " ";
  display: inline-block;
  border-radius: 50%;
  border: 1px solid;
}

.in-stock:after {
  background-color: forestgreen;
  border-color: darkgreen;
}

.out-of-stock:after {
  background-color: crimson;
  border-color: darkred;
}

.backToOverview {
  margin: 0 0 15px;
  display: inline-block;
}

@media screen and (max-width: 760px) {
  body {
    /* font-size: 0.9em; */
  }
  .column-image {
    display: none;
  }
  .column-name {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .column-stock {
    font-size: 0.8em;
  }
}
