* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 20px;
}
sup {
  font-variant: small-caps;
  font-size: 14px;
}
table {
  margin: 0 auto;
}

.update-notice {
  margin: 20px;
  font-size: 0.8em;
  font-variant: small-caps;
}

thead th {
  position: sticky;
  top: 0;
  background: white;
  padding: 5px;
  border-bottom: 1px solid black;
}

th.column-name {
  z-index: 3;
  left: 0;
}

td.column-name {
  position: sticky;
  left: 0;
  background: white;
  z-index: 2;
}

tr:nth-child(2n) td {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: rgb(238, 237, 237);
}

.column-name {
  text-align: left;
  padding-left: 10px;
}

table,
tr {
  border-bottom: 1px solid black;
  text-align: right;
}

th {
  padding: 0 5px;
}

td,
th {
  white-space: nowrap;
}

.column-image {
  text-align: left;
}

a,
a:visited {
  /* color: blue; */
  text-decoration: none;
}

td,
th {
  padding: 0 10px;
}

.column-stock {
  /* border-right: 1px dashed rgb(238, 237, 237); */
  /* text-align: center; */
  /* padding-right: 4px; */
}

.column-stock:after {
  font-size: 8px;
  padding: 0 0 0 4px;
}

.in-stock:after {
  /* background-color: forestgreen; */
  content: "🟢";
}

.out-of-stock:after {
  /* background-color: crimson; */
  content: "🔴";
}

.backToOverview {
  margin: 5px;
}

@media screen and (max-width: 992px) {
  body {
    /* font-size: 0.9em; */
  }
  .column-image {
    display: none;
  }
  .column-name {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .column-stock {
    font-size: 0.8em;
  }
}
